body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(177deg, rgba(20, 17, 61, 1) 0%, rgb(130, 156, 238) 47%, rgba(137, 145, 176, 1) 100%);
}
.navbar-brand
{
    font-size: 28px;
}
.navbar {
    padding: 0px 100px;
}

.navbar-nav > li {
    margin-left:30px;
    margin-right:30px;
    font-size: 20px;
}

li:hover {
    background-color: darkgray;
}

.hero-section {
    background-color: #435074; /* Adjust background color */
    padding: 50px 0;
    text-align: center;
}

.subheadline {
    font-size: 24px;
    color: #ffffff; /* Adjust text color */
}

h1 {
    text-align: center;
    margin: 60px 0px;
    color: #ffffff;
    font-size: 64px;
    padding: 0px 20px;
}

h2 {
    font-size: 28px;
    color: #ffffff; /* Adjust text color */
}

#mainpic {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

#mainpic {
    display: block;
    margin: 0 auto;
}

.unique-selling-proposition {
    background-color: #92a8d1; /* Adjust background color */
    padding: 50px 0;
    text-align: center;
    color:#f0f0f0;
    font-size: 26px;
}
.unique-selling-proposition div {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
}
.unique-selling-proposition div p {
    width: 33%;
}

.benefits {
    background-color: #6b86b6; /* Adjust background color */
    padding: 50px 0;
    text-align: center;
}

.benefits > div > img {
    object-fit: cover;
}

.benefits > div {
    font-size: 20px;
    margin-top: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.benefits > div > div {
    width: 33%;
}



.social-proof {
    background-color: #88b7e8; /* Adjust background color */
    padding: 70px 0;
    text-align: center;
}

.social-proof blockquote {
    font-style: italic;
    color: #555; /* Adjust text color */
}

.social-proof figure {
    margin-top: 20px;
}

.social-proof figure img {
    border-radius: 50%;
    width: 100px; /* Adjust image size */
    height: 100px; /* Adjust image size */
}

.cta-section {
    background-color: #f0f0f0; /* Adjust background color */
    padding: 70px 0;
    text-align: center;
}

.cta-button {
    display: inline-block;
    background-color: #000000; /* Adjust button color */
    color: #fff; /* Adjust text color */
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3; /* Adjust hover color */
}

.footer {
    background-color: #333; /* Adjust background color */
    color: #fff; /* Adjust text color */
    padding: 70px 0;
    text-align: center;
}

.footer p, .footer ul {
    margin: 10px;
}

.footer address {
    font-style: normal;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 30px;
}

.social-link-li {
    display: block;
    background-color: #007bff; /* Adjust button color */
    color: #fff; /* Adjust text color */
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.social-link-li:hover {
    background-color: #0056b3; /* Adjust hover color */
    border-radius: 5px;
}
