body {
  height: 100vh;
  background: rgb(152, 147, 227);
  background: linear-gradient(177deg, rgba(20,17,61,1) 0%, rgb(130, 156, 238) 47%, rgba(137,145,176,1) 100%);
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: silver;
}

th {
  padding: 15px 0px;
  border-bottom: 5px solid black;
  background-color: #94ffc6;
  text-align: center;
}

td {
  padding: 10px 0px;
  background-color: #94ebff;
  text-align: center;
}

table {
  background-color: #94ebff;
  border:solid black 1px;
}

#mainpic {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

#editPatientModal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
  border: 5px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content{
  padding: 50px;

}
.modal-content #editPatientForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Adjust width for labels */
#editPatientModal label {
  width: 150px;
}

/* Adjust width for inputs and select */
#editPatientModal input[type="text"],
#editPatientModal input[type="date"],
#editPatientModal select {
  width: 300px;
}

#selectPatientContainer {
  text-align: center; /* Center the content horizontally */
}

#patientTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.patient-action-buttons{
  border-radius: 25px;
  border-color: #003cff;
  text-align: center;
  background-color: #003cff;
  color: white;
}

#patient-delete-button {
  background-color: red;
  border-color: red;

}

.align-middle {
  text-align: center;
  vertical-align: middle;
}

