<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MedMX Patient Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">MedMX</a>
        <!--        Menu button appears when window is small-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse py-2 py-lg-3 sticky-top navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/addpatient}">Add Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/patientlist}">Patient list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/schedule}">My Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />

<h2 th:text="${patient.firstName} + ' ' + ${patient.lastName}"></h2>

<br />
<div id="pt-tab-container">
    <div class="patient-tabs" id="information-tab">Information</div>
    <div class="patient-tabs" id="clinic-notes-tab">Clinic Notes</div>
    <div class="patient-tabs" id="prescriptions-tab">Prescriptions</div>
</div>

<div id="display-info">
    <div class="display-sections" id="history-section">
        <p><Strong>Name: </Strong><span th:text="${patient.firstName} + ' ' + ${patient.lastName}"></span></p>
        <p><Strong>Gender: </Strong><span th:text="${patient.gender}"></span></p>
        <p><Strong>Date of birth (YYYY-MM-DD): </Strong><span th:text="${patient.dateOfBirth}"></span></p>
        <p><Strong>Address: </Strong><span th:text="${patient.address}"></span></p>
        <p><Strong>Address 2: </Strong><span th:text="${patient.address2}"></span></p>
        <p><Strong>Phone: </Strong><span th:text="${patient.phone}"></span></p>
    </div>
    <div class="display-sections" id="prescription-section"></div>
    <div class="display-sections" id="clinic-notes-nav-section">
        <div id="notes-list-section">
            <table id="note-table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Visit type</th>
                    <th class="align-middle">Actions</th>
                </tr>
                </thead>
                <tbody id="note-table-body">
                <!-- Notes will be populated here dynamically -->
                </tbody>
            </table>
        </div>
        <div id="create-note-button-area">
            <button type="button" id="create-note-button">Create a Note</button>
            <input type="date" id="note-date-input">
        </div>
    </div>
</div>

<!--Create note modal-->
<div id="create-note-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">Create a Note</h2>
        <form id="create-note-form">
            <label for="today-date">Today's Date</label>
            <input id="today-date" name="today-date" type="date">

            <label for="visit-type">Visit Type: </label>
            <input id="visit-type" name="visit-type" type="text">

            <label for="note-content">Note Content: </label>
            <div id="note-content" contenteditable="true">
            </div>

            <button type="button" id="create-note-submit-button"> Create</button>
            <button type="button" class="close-modal-btn">Close</button>
        </form>
    </div>
</div>

<!--load-note-modal-->
<div id="load-note-modal" class="modal">
    <div class="modal-content" id="load-note-parent">
    </div>
    <button type="button" class="close-modal-btn">Close</button>
</div>

<!--Edit note modal-->
<div id="edit-note-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">Edit Note</h2>
        <form id="edit-note-form">
            <label for="today-date-edit">Today's Date</label>
            <input id="today-date-edit" name="today-date" type="date">

            <label for="visit-type-edit">Visit Type: </label>
            <input id="visit-type-edit" name="visit-type" type="text">

            <label for="note-content-edit">Note Content: </label>
            <div id="note-content-edit" contenteditable="true">
            </div>

            <button type="button" id="edit-note-submit-button">Edit</button>
            <button type="button" class="close-modal-btn">Close</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script th:inline="javascript">
    const patient = [[${patient}]];
    const physician = [[${physician}]];
    const notes = [[${notes}]];
</script>

<script>
    //Display session based on the tab
    const infoTab = document.getElementById("information-tab");
    const notesTab = document.getElementById("clinic-notes-tab");
    const rxTab = document.getElementById("prescriptions-tab");
    const historySec = document.getElementById("history-section");
    const prescriptionSec = document.getElementById("prescription-section");
    const noteSec = document.getElementById("clinic-notes-nav-section");

    //On loading the page, hide notes and prescription, tab
    toggleDisplay(prescriptionSec, false);
    toggleDisplay(noteSec, false);
    setTabActive(infoTab);

    //When a tab is clicked, only display that section and hide other tabs.
    infoTab.addEventListener("click", () => {
        toggleDisplay(prescriptionSec, false);
        toggleDisplay(noteSec, false);
        toggleDisplay(historySec, true);
        setTabActive(infoTab);
    })
    notesTab.addEventListener("click", () => {
        toggleDisplay(prescriptionSec, false);
        toggleDisplay(noteSec, true);
        toggleDisplay(historySec, false);
        setTabActive(notesTab);
    })
    rxTab.addEventListener("click", () => {
        toggleDisplay(prescriptionSec, true);
        toggleDisplay(noteSec, false);
        toggleDisplay(historySec, false);
        setTabActive(rxTab);
    })
    function setTabActive(tab) {
        const tabs = document.getElementsByClassName("patient-tabs");
        for (const tab of tabs) {
            tab.classList.remove("active");
        }
        tab.classList.add("active");
    }

    //Get today's date with timezone adjusted
    Date.prototype.toDateInputValue = (function() {
        const local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    });

    //the table where the notes will be added as a row
    const noteTableBody = document.getElementById('note-table-body');

    const createNoteButton = document.getElementById('create-note-button');
    const createNoteModal = document.getElementById("create-note-modal");

    //The close buttons of all modals
    const closeModalButtons = document.getElementsByClassName("close-modal-btn");

    //The fields in the create-note modal
    const createNoteDate = document.getElementById('today-date');
    const createNoteContent = document.getElementById('note-content');
    createNoteDate.value = new Date().toDateInputValue();

    const visitType = document.getElementById("visit-type");

    const createNoteSubmitButton = document.getElementById('create-note-submit-button');

    //Load note modal
    const loadNoteModal = document.getElementById("load-note-modal");
    const loadNoteParent = document.getElementById("load-note-parent");

    //Edit note modal
    const editNoteModal = document.getElementById("edit-note-modal");
    const editNoteDate = document.getElementById("today-date-edit");
    const editVisitType = document.getElementById("visit-type-edit");
    const editNoteContent = document.getElementById("note-content-edit");
    const editNoteButton = document.getElementById("edit-note-submit-button");

    const patientName = patient.firstName + " " + patient.lastName;
    const patientGender = patient.gender.toLowerCase();

    //Fetch all notes for this patient and load them into the table.
    loadNoteRows();
    function loadNoteRows() {
        notes.forEach(note => {
            const noteRow = createNoteRow(note);
            noteTableBody.appendChild(noteRow);
        })
    }

    //When create note button is clicked, it will display create note modal
    //With templated information
    createNoteButton.addEventListener("click", () => {
        toggleDisplay(createNoteModal, true);

        const age = getAge(patient.dateOfBirth);
        console.log(age);

        const chiefComplaint = "Chief Complaint: \n";
        const chiefComplaintLine = `${patientName} is a(n) ${age} old ${patientGender} presenting today for: \n\n`;
        const hpi = "HPI: \n";
        const hpiLine = "The patient states that \n\n";

        const pe = "Physical Exam: \n";
        const peLine = "General: \n HEENT: \n Pulm: \n CV: \n Abdomen: \n Extremities: \n Mus: \n Neuro: \n Psych: \n\n";

        const ap = "Assessment and Plan: \n";
        const apLine = "Diagnosis:  \n Plan: \n ";

        createNoteContent.innerText = chiefComplaint + chiefComplaintLine + hpi + hpiLine + pe + peLine + ap + apLine;

        visitType.value = "Acute complaint";
    });

    //This will close the currently opened modal when the close button is clicked
    for(const button of closeModalButtons) {
        button.addEventListener("click", () => {
            toggleDisplay(createNoteModal, false);
            toggleDisplay(loadNoteModal, false);
            toggleDisplay(editNoteModal, false);
        });
    }

    //Save the note to database after create note button inside the create note model is clicked.
    createNoteSubmitButton.addEventListener("click", () => {
        const newNote = {};
        newNote.date = createNoteDate.value;
        newNote.patient = patient;
        newNote.physician = physician;
        newNote.visitType = visitType.value;
        newNote.noteContent = createNoteContent.innerText;
        const fetchOptions = {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(newNote)
        };
        const fetchURL = '/api/notes';

        fetch(fetchURL, fetchOptions)
            .then(response => {
                        if(response.ok) {
                            window.location.reload();
                        } else {
                            throw new Error('Failed to create the note');
                        }
                    }).catch(error => console.error('Error create the note: ', error));
    });

    //Function that creates a row to add to note-table-body
    function createNoteRow(eachNote) {
        const tr = document.createElement("tr");
        const td1 = document.createElement("td");
        const td2 = document.createElement("td");
        const td3 = document.createElement("td");
        const editDiv = document.createElement("div");
        const deleteDiv = document.createElement("div");

        td2.setAttribute("id", "notes-row-" + eachNote.id);
        td2.setAttribute("class", "notes-row");
        td3.setAttribute("class", "notes-action-row");
        td1.textContent = eachNote.date;
        td2.textContent = eachNote.visitType;
        editDiv.setAttribute("id", "notes-row-edit-" + eachNote.id);
        editDiv.setAttribute("class", "notes-edit-btn");
        deleteDiv.setAttribute("id", "notes-row-delete-" + eachNote.id);
        deleteDiv.setAttribute("class", "notes-delete-btn");
        editDiv.innerText = "Edit";
        deleteDiv.innerText = "Delete";
        td3.appendChild(editDiv);
        td3.appendChild(deleteDiv);

        td2.addEventListener("click", loadNote);
        editDiv.addEventListener("click", editNote);
        deleteDiv.addEventListener("click", deleteNote);

        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        return tr;
    }

    function loadNote(e) {
        const id = parseInt(e.target.id.split("-")[2]);
        const note = notes.filter(note => note.id === id)[0];
        loadNoteParent.innerText = note.noteContent;
        toggleDisplay(loadNoteModal, true);
    }

    //A function that will bring in edit note modal
    //with prefilled details of the note.
    function editNote(e) {
        const noteId = parseInt(e.target.id.split("-")[3]);
        const note = notes.filter(note => note.id === noteId)[0];
        const patientId = patient.id;
        editNoteDate.value = note.date;
        editVisitType.value = note.visitType;
        editNoteContent.innerText = note.noteContent;

        editNoteModal.style.display = "block";
        //When the edit button is clicked in the edit note modal
        //it will send a PUT request to the database with the edited note object.
        editNoteButton.addEventListener("click", function() {
            updateNote(noteId, patientId);
        });
    }

    function updateNote(noteId, patientId) {
        const updatedNote = {
            date: editNoteDate.value,
            visitType: editVisitType.value,
            noteContent: editNoteContent.innerText,
            patient: patient,
            physician: physician
        };
        const URL = `/api/notes/${noteId}`;
        const option = {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(updatedNote)
        }
        fetch(URL, option)
            .then(response => {
                if(response.ok) {
                    window.location.reload();
                } else {
                    throw new Error('Failed to edit the note');
                }
            }).catch(error => console.error('Error editing the note: ', error));
    }

    //Function that deletes the note from the database
    function deleteNote(e) {
        const id = parseInt(e.target.id.split("-")[3]);
        if(confirm("Are you sure you want to delete this note?  It cannot be recovered")) {
            fetch(`/api/notes/${id}`, {
                method: 'DELETE',
            }).then(response => {
                if(response.ok) {
                    window.location.reload();
                } else {
                    throw new Error('Failed to delete the note');
                }
            }).catch(error => console.error('Error deleting the note: ', error));
        }
    }

    //Function to display a modal or not.
    function toggleDisplay(modalDiv, show) {
        if(show === true) {
            modalDiv.style.display = "block";
        } else {
            modalDiv.style.display = "none";
        }
    }

    //Calculate age based on date of birth
    function getAge(dateString) {
        const today = new Date();
        const birthDate = new Date(dateString);

        let age = today.getFullYear() - birthDate.getFullYear();
        let m = today.getMonth() - birthDate.getMonth();
        let d = today.getDate() - birthDate.getDate();

        // If birth month is after current month or birth month is the same as current month
        // but birth day is after current day, decrement age
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        // Adjust months if current day is before birth day in the same month
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            m += 12;
        }

        // Adjust days if current day is before birth day in the same month
        if (d < 0) {
            const prevMonthLastDay = new Date(today.getFullYear(), today.getMonth(), 0).getDate();
            d += prevMonthLastDay;
            m--;
        }

        return age + " years " + m + " months " + d + " days";
    }
</script>
</body>
</html>