<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MedMX Patient Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">MedMX</a>
        <!--        Menu button appears when window is small-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse py-2 py-lg-3 sticky-top navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/addpatient}">Add Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/patientlist}">Patient list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/schedule}">My Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />

<h2 th:text="${patient.firstName} + ' ' + ${patient.lastName}"></h2>

<br />
<div id="pt-tab-container">
    <div class="patient-tabs" id="information-tab">Information</div>
    <div class="patient-tabs" id="clinic-notes-tab">Clinic Notes</div>
    <div class="patient-tabs" id="prescriptions-tab">Prescriptions</div>
</div>

<div id="display-info">
    <div class="display-sections" id="history-section">
        <p><Strong>Name: </Strong><span th:text="${patient.firstName} + ' ' + ${patient.lastName}"></span></p>
        <p><Strong>Gender: </Strong><span th:text="${patient.gender}"></span></p>
        <p><Strong>Date of birth (YYYY-MM-DD): </Strong><span th:text="${patient.dateOfBirth}"></span></p>
        <p><Strong>Address: </Strong><span th:text="${patient.address}"></span></p>
        <p><Strong>Address 2: </Strong><span th:text="${patient.address2}"></span></p>
        <p><Strong>Phone: </Strong><span th:text="${patient.phone}"></span></p>
    </div>
    <div class="display-sections" id="prescription-section"></div>
    <div class="display-sections" id="clinic-notes-nav-section">
        <div id="notes-list-section">
            <table id="note-table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Visit type</th>
                    <th class="align-middle">Actions</th>
                </tr>
                </thead>
                <tbody id="note-table-body">
                <!-- Notes will be populated here dynamically -->
                </tbody>
            </table>
        </div>
        <div id="create-note-button-area">
            <button type="button" id="create-note-button">Create a Note</button>
            <input type="date" id="note-date-input">
        </div>
    </div>
</div>

<!--Create note modal-->
<div id="create-note-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">Create a Note</h2>
        <form id="create-note-form">
            <label for="today-date">Today's Date</label>
            <input id="today-date" name="today-date" type="date">

            <label for="visit-type">Visit Type: </label>
            <input id="visit-type" name="visit-type" type="text">

            <label for="note-content">Note Content: </label>
            <div id="note-content" contenteditable="true">
            </div>

            <button type="button" id="create-note-submit-button"> Create</button>
            <button type="button" class="close-modal-btn">Close</button>
        </form>
    </div>
</div>

<!--load-note-modal-->
<div id="load-note-modal" class="modal">
    <div class="modal-content" id="load-note-parent">
    </div>
    <button type="button" class="close-modal-btn">Close</button>
</div>

<!--Edit note modal-->
<div id="edit-note-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">Edit Note</h2>
        <form id="edit-note-form">
            <label for="today-date-edit">Today's Date</label>
            <input id="today-date-edit" name="today-date" type="date">

            <label for="visit-type-edit">Visit Type: </label>
            <input id="visit-type-edit" name="visit-type" type="text">

            <label for="note-content-edit">Note Content: </label>
            <div id="note-content-edit" contenteditable="true">
            </div>

            <button type="button" id="edit-note-submit-button">Edit</button>
            <button type="button" class="close-modal-btn">Close</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script th:inline="javascript">
    const patient = [[${patient}]];
    const physician = [[${physician}]];
    const notes = [[${notes}]];
</script>

<script src="../js/patient-detail.js">

</script>
</body>
</html>